@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Nunito', sans-serif;
	text-transform: uppercase;
	color: #333;
	position: relative;
	background: linear-gradient(to right bottom, #298ab4, #c38fdb);
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	/* background-color: red; */

	width: 100rem;
	height: 60rem;
	letter-spacing: 1.5px;
	word-spacing: 2px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	position: relative;

	/* box-shadow: 1px 2px 26px -3px #c6ccd1; */
	box-shadow: 1px 2px 180px 5px #657885;
}

.player-section {
	padding: 9rem 9rem 7rem 9rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #35748fa4;
	flex-grow: 1;
}

.player {
	font-weight: 400;
	font-size: 4rem;
	margin-bottom: 2rem;
	color: #333;
}

.player-score {
	font-size: 8rem;
	margin-bottom: 12rem;
	color: #31657c;
}

.current-score {
	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 1.6rem;
	color: rgb(235, 233, 219);
	background: #31657c;
	width: 20rem;
	height: 12rem;
	border-radius: 10px;
}

.current {
	margin: 1.5rem;
	font-weight: 300;
}

.highscore {
	font-size: 3.5rem;
	font-weight: 300;
}

.btn {
	font-family: 'Nunito', sans-serif;
	font-weight: 500;
	color: #333;
	opacity: 0.85;
	border: none;
	border-radius: 30px;

	position: absolute;
	font-size: 1.8rem;
	text-transform: uppercase;
	/* width: 15rem;
	height: 5rem; */
	padding: 1rem 2.5rem;
}

.new-game {
	top: 5rem;
}

.dice {
	position: absolute;
	width: 10rem;
	top: 17rem;
	/* display: none; */
}

.roll-dice {
	top: 39.3rem;
}
.hold {
	top: 46.5rem;
}

.active {
	background: #60b9dfa4;
}

.hidden {
	display: none;
}
